div{
  box-sizing: border-box;
}

#board{
  position: relative;
  border: 1px solid black;
  width: 1380px;
  height: 370px;
}

.bank{
  position: absolute;
  width: 150px;
  height: 300px;
  border: 1px solid #666;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;

}

.hole{
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #666;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
}

#bank-0{
  left:1170px;
  top:35px;
}

#bank-1{
  left:50px;
  top:35px;
}

#hole-11{
  left:210px;
  top:30px;
}

#hole-10{
  left:370px;
  top:30px;
}

#hole-9{
  left:530px;
  top:30px;
}

#hole-8{
  left:690px;
  top:30px;
}

#hole-7{
  left:850px;
  top:30px;
}

#hole-6{
  left:1010px;
  top:30px;
}

#hole-5{
  left:1010px;
  top:190px;
}

#hole-4{
  left:850px;
  top:190px;
}

#hole-3{
  left:690px;
  top:190px;
}

#hole-2{
  left:530px;
  top:190px;
}

#hole-1{
  left: 370px;
  top: 190px;
}

#hole-0{
  left: 210px;
  top:190px;
}

.pebble{
  width:20px;
  height:20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px soild #444;
  background-color: red;
}
